##############################
# PRIMER
##############################

# ----------------------------
# Primer API Key
# Must match the environment set with PRIMER_API_ENVIRONMENT 
# ----------------------------

API_KEY=b4da7a69-d28d-49a7-993e-cff41a3b9dce


# ----------------------------
# Primer environment: SANDBOX or PRODUCTION
# ----------------------------

PRIMER_API_ENVIRONMENT=SANDBOX
# PRIMER_API_ENVIRONMENT=PRODUCTION


##############################
# SERVER
##############################

PORT=3000