##############################
# PRIMER
##############################

# ----------------------------
# Primer API Key
# Must match the environment set with PRIMER_API_ENVIRONMENT 
# ----------------------------

API_KEY=#refer to API key for 'testcheckout' on https://sandbox-dashboard.primer.io/developers/apiKeys


# ----------------------------
# Primer environment: SANDBOX or PRODUCTION
# ----------------------------

PRIMER_API_ENVIRONMENT=SANDBOX
# PRIMER_API_ENVIRONMENT=PRODUCTION


##############################
# SERVER
##############################

PORT=3000